@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AstralNotes.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}

<div class="center2">
    <h2>Авторизация</h2>
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </form>
</div>