@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AstralNotes.ViewModels.RegistrationViewModel
@{
    Layout = "_Layout";
}
<div class="center2">
    <h2>Регистрация нового пользователя</h2>
    <form method="post" asp-controller="Account" asp-action="Registration">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" /><br />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" /><br />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" /><br />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" /><br />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <br />
            <input type="submit" value="Регистрация" />
        </div>
    </form>
</div>
