@using AstralNotes.Domain.Entities
@model Note
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<!doctype html>
<html>
<head>
    <title>@Model.Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    @{
        ViewBag.Full = true;
    }
    @Html.Partial("~/Views/Note/Note.cshtml", Model)
</body>
</html>