@model List<AstralNotes.DAL.Models.Note>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    @Html.ActionLink("Создать новую заметку", "Create", "Note")

    <h2>Тут будут все заметки пользователя</h2>
    @foreach (var note in Model)
    {
        @Html.Partial("~/Views/Note/Note.cshtml", note)
    }

</body>
</html>