@model List<AstralNotes.DAL.Models.Note>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<!doctype html>
<html>
    <head>
        <title>Главная</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <h2>Ваши заметки:</h2>
        @foreach (var note in Model)
        {
            @Html.Partial("~/Views/Note/Note.cshtml", note)
        }
    </body>
</html>