<!doctype html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2>Тут будут все заметки пользователя</h2>
</body>
</html>